HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/com.scccy.videoDownloader.test/**/target/
!/service-logs/*
!/videoDownloadloader/*
!/spirit/*
!/video

### STS ###
.apt_generated
.classpath
.factorypath
.project
.cookiesSettings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/com.scccy.videoDownloader.test/**/build/

### VS Code ###
.vscode/
!./service-logs/
!./service-logs/downLoadVideo-error.log
!./service-logs/downLoadVideo-info.log
!./service-logs/downLoadVideo-mybatisPlus.log!/mvnw
!/mvnw.cmd
!/.gitignore
!/service-logs/downLoadVideo-error.log
!/service-logs/downLoadVideo-info.log

!/f2/
!/spirit/

