<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.downloadDy.mapper.BizProcessHistoryMapper">
  <resultMap id="BaseResultMap" type="com.scccy.downloadDy.domain.BizProcessHistory">
    <!--@mbg.generated-->
    <!--@Table biz_process_history-->
    <id column="id" property="id" />
    <result column="createtime" property="createtime" />
    <result column="originaladdress" property="originaladdress" />
    <result column="status" property="status" />
    <result column="videoplatform" property="videoplatform" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, createtime, originaladdress, "status", videoplatform
  </sql>
</mapper>