<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.downloadDy.mapper.TiktokConfigMapper">
  <resultMap id="BaseResultMap" type="com.scccy.downloadDy.domain.TiktokConfig">
    <!--@mbg.generated-->
    <!--@Table tiktok_config-->
    <result column="id" property="id" />
    <result column="analysisserver" property="analysisserver" />
    <result column="cookies" property="cookies" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, analysisserver, cookies
  </sql>
</mapper>