<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.downloadvideo.platform.douyin.mapper.DouyinDownloadConfigMapper">
  <resultMap id="BaseResultMap" type="com.scccy.downloadvideo.platform.douyin.model.DouyinDownloadConfig">
    <!--@mbg.generated-->
    <!--@Table douyin_download_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cookie" jdbcType="LONGVARCHAR" property="cookie" />
    <result column="naming" jdbcType="VARCHAR" property="naming" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="timeout" jdbcType="INTEGER" property="timeout" />
    <result column="max_retries" jdbcType="INTEGER" property="maxRetries" />
    <result column="lyric" jdbcType="BOOLEAN" property="lyric" />
    <result column="max_connections" jdbcType="INTEGER" property="maxConnections" />
    <result column="max_counts" jdbcType="INTEGER" property="maxCounts" />
    <result column="max_tasks" jdbcType="INTEGER" property="maxTasks" />
    <result column="page_counts" jdbcType="INTEGER" property="pageCounts" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_node" jdbcType="VARCHAR" property="createNode" />
    <result column="update_node" jdbcType="VARCHAR" property="updateNode" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cookie, naming, `path`, timeout, max_retries, lyric, max_connections, max_counts, 
    max_tasks, page_counts, create_time, update_time, create_node, update_node, del_flag
  </sql>
</mapper>