<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.CollectDataMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.CollectData">
    <!--@mbg.generated-->
    <!--@Table collect_data-->
    <result column="id" property="id" />
    <result column="carriedout" property="carriedout" />
    <result column="count" property="count" />
    <result column="createtime" property="createtime" />
    <result column="endtime" property="endtime" />
    <result column="monitoring" property="monitoring" />
    <result column="originaladdress" property="originaladdress" />
    <result column="platform" property="platform" />
    <result column="taskid" property="taskid" />
    <result column="taskname" property="taskname" />
    <result column="taskstatus" property="taskstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, carriedout, `count`, createtime, endtime, monitoring, originaladdress, platform, 
    taskid, taskname, taskstatus
  </sql>
</mapper>