<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.ConfigDownloaderMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.ConfigDownloader">
    <!--@mbg.generated-->
    <!--@Table config_downloader-->
    <result column="id" property="id" />
    <result column="downloadertype" property="downloadertype" />
    <result column="downloaderlink" property="downloaderlink" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="token" property="token" />
    <result column="downloaderport" property="downloaderport" />
    <result column="downloadername" property="downloadername" />
    <result column="status" property="status" />
    <result column="downloadpath" property="downloadpath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, downloadertype, downloaderlink, username, `password`, token, downloaderport, 
    downloadername, `status`, downloadpath
  </sql>
</mapper>