<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.ConfigBiliMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.ConfigBili">
    <!--@mbg.generated-->
    <!--@Table config_bili-->
    <result column="id" property="id" />
    <result column="bigmember" property="bigmember" />
    <result column="bilicookies" property="bilicookies" />
    <result column="bitstream" property="bitstream" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, bigmember, bilicookies, bitstream
  </sql>
</mapper>