<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.FfmpegQueueDataMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.FfmpegQueueData">
    <!--@mbg.generated-->
    <!--@Table ffmpeg_queue_data-->
    <result column="id" property="id" />
    <result column="createtime" property="createtime" />
    <result column="filepath" property="filepath" />
    <result column="filetype" property="filetype" />
    <result column="queueid" property="queueid" />
    <result column="status" property="status" />
    <result column="taskid" property="taskid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, createtime, filepath, filetype, queueid, `status`, taskid
  </sql>
</mapper>