<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.SqliteMasterMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.SqliteMaster">
    <!--@mbg.generated-->
    <!--@Table sqlite_master-->
    <result column="type" property="type" />
    <result column="name" property="name" />
    <result column="tbl_name" property="tblName" />
    <result column="rootpage" property="rootpage" />
    <result column="sql" property="sql" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `type`, `name`, tbl_name, rootpage, `sql`
  </sql>
</mapper>