<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scccy.videoModel.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.scccy.videoModel.domain.Video">
    <!--@mbg.generated-->
    <!--@Table video-->
    <result column="id" property="id" />
    <result column="videoaddr" property="videoaddr" />
    <result column="videocover" property="videocover" />
    <result column="videoname" property="videoname" />
    <result column="videoplatform" property="videoplatform" />
    <result column="createtime" property="createtime" />
    <result column="videodesc" property="videodesc" />
    <result column="videounrealaddr" property="videounrealaddr" />
    <result column="originaladdress" property="originaladdress" />
    <result column="videoid" property="videoid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, videoaddr, videocover, videoname, videoplatform, createtime, videodesc, videounrealaddr, 
    originaladdress, videoid
  </sql>
</mapper>